<p id="notice"><%= notice %></p>

  <h1><%= @student.name %></h1>

  <h1><%= @student.age %></h1>

<div class="btn-group">
<%= link_to 'Edit', edit_student_path(@student), class: "btn btn-default" %>
<%= link_to 'Back', students_path, class: "btn btn-default" %>
</div>
<br />
